<!DOCTYPE html>
<html>
  <head>
    <title>{{= title }}</title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="wrap">
      <div class="brand">

        <div class="item">
          <h2>{{= brand }}</h2>
          <h4>{{= motto }}</h4>
        </div>
        <div class="nav-bar">
         <div class="ui menu">
           <a class="nav-index item" href="/#index">{{= index }}</a>
           <a class="nav-about item" href="/#about">{{= about }}</a>
           <a class="nav-login item" href="/#login">{{= login }}</a>
           <a class="nav-register item" href="/#register">{{= register }}</a>
         </div>
       </div>

      </div>

      <div class="content">

         <div class="index-container">
         </div>
         <div class="login-container">
         </div>
         <div class="register-container">
         </div>
         <div class="article-container">
         </div>
      </div>

       <div class="footer">
       </div>

    </div>
  </body>
  <script src='/javascripts/jquery-1.10.2.min.js'></script>
  <script src='/javascripts/semantic.min.js'></script>
  <script src='/javascripts/underscore-min.js'></script>
  <script src='/javascripts/backbone-min.js'></script>
  <script src='/javascripts/index.js'></script>
  <script type="text/template" id="index-template">
    <div class="index-area grid ui">
      <%_.each(articles, function(article) {%>
      <div class="ui piled segment ten wide column ">
        <h2 class="article-title"><a href="#/p/<%=article._id%>"><%= article.title %></a></h2>
        <p class="">post by <%= article.name %></p>
        <p class=""><%= article.post %></p>
      </div>
    <%})%>
    </div>
  </script>
  <script type="text/template" id="login-template">
    <div class="login-area ui grid" style="margin:10px auto">
      <div class="ui form segment column wide middle six">
        <div class="field">
          <label>email</label>
          <div class="ui left labeled icon input">
            <input type="text" class="login-email wide three" name="email" placeholder="email">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>password</label>
          <div class="ui left labeled icon input">
            <input type="password" class="login-password column" name="password" placeholder="email">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="ui blue  button" id="login-btn">Login</div>
      </div>
      </div>
  </script>
  <script type="text/template" id="register-template">
    <div class="login-area ui grid" style="margin:10px auto">
      <div class="ui form segment column wide middle six">
        <div class="field">
          <label>username</label>
          <div class="ui left labeled icon input">
            <input type="text" class="register-username wide three" name="username" placeholder="username">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        <div class="field">
          <label>email</label>
          <div class="ui left labeled icon input">
            <input type="text" class="register-email wide three" name="email" placeholder="email">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>password</label>
          <div class="ui left labeled icon input">
            <input type="password" class="register-password column" name="password" placeholder="email">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="ui blue button" id="register-btn">Register</div>
      </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="article-template">
    <div class="article-area">
      <p class="article-title"><%= title %></p>
      <p><%= time.day %>post by <%= name %></p>
      <p><%= post %></p>
    </div>
  </script>
</html>
