{{- include header }}
<div class="content row">
  <div class="col-md-2"></div>
  <div class="index-container col-md-6">
  </div>
  <div class="article-container col-md-6">
  </div>
  <div class="right-column col-md-2">
    <div class="recent-container">
    </div>
    <div class="tags-container">
    </div>
    <div class="month-container">
    </div>
  </div>
</div>
{{- include footer }}
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
<script src='/javascripts/index.js'></script>
<script type="text/template" id="index-template">
    <div class="index-area">
      <%_.each(articles.posts, function(article) {%>
      <div class="index-article-area ">
        <h2 class="articles-title"><a href="#p/<%=article._id%>"><%= article.title %></a></h2>
        <p class="article-author">post by <%= article.name %></p>
        <p class="article-content"><%= article.post %></p>
      </div>
    <%})%>
    </div>
    <ul class="pagination">
        <% 
          var currentPage = parseInt( window.location.href.split("/")[window.location.href.split("/").length - 1] ); 
          currentPage = isNaN(currentPage)?1:currentPage;
          var prevPage =  currentPage <= 1 ?1:currentPage-1 ;
          var nextPage = currentPage >= Math.ceil(articles.total/10)?Math.ceil(articles.total/10):currentPage+1;
          %>
      <li>
        <a class="item" href="#/index/<%= prevPage %>">
          &laquo;
        </a>
      </li>
      <% for (var i = 1;i <= Math.ceil( articles.total/10 );i++){%>
        <li><a class="item" href="/#index/<%=i%>"><%=i%></a></li>
      <%}%>
      <li>
        <a class="item" href="/#index/<%= nextPage %>">
          &raquo;
        </a>
      </li>
    </div>
</script>
<script type="text/template" id="article-template">
    <div class="article-area">
      <h2 class="article-title"><%= title %></h2>
      <p><%= time.day %>post by <%= name %></p>
      <p><%= post %></p>
      <!-- UY BEGIN -->
      <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1603560"></script>
      <!-- UY END -->
    </div>
</script>
<script type="text/template" id="recent-template">
  <h4>Recent post</h4>
  <%_.each(recents,function(article) {%>
      <div class="post-wigets">
        <div class="post-listt"><a href="#p/<%=article._id%>"><%=article.title%></a></div>
      </div>
   <%})%>
</script>
<script type="text/template" id="tags-template">
  <h4>Tags</h4>
  <ul class="tags-area">
  <%_.each(tags,function(tag) {%>
    <li><a href="#p/tag/<%=tag%>"><%=tag%></a></li>
  <%})%>
  </ul>
</script>
<script type="text/template" id="tagarticle-template">
  <div class="tagarticle-area">
    <%_.each(tagArticles, function(article) {%>
      <div class="index-article-area ">
        <h2 class="articles-title"><a href="#p/<%=article._id%>"><%= article.title %></a></h2>
        <p class="article-author">post by <%= article.name %></p>
        <p class="article-content"><%= article.post %></p>
      </div>
    <%})%>
  </div>
</script>
<script type="text/template" id="month-template">
  <div>
    <br />
    <h4>month archive</h4>
    <div class="month-area">
      <%_.each(months,function(month) {%>
        <div class="month-list"><a href="#p/month/<%=month%>"><%=month%></div>
      <%})%>
    </div>
  </div>
</script>
</html>
